<div class="pagination">
  <% if (currentPage == 1 && pages > 1) { %> Page <%= currentPage %> of <%= pages %> :
  <a href="/dashboard?page=<%= parseInt(currentPage) + 1 %>" class="btn btn_pagination">
    <%= parseInt(currentPage) + 1%>
  </a>
  <a href="/dashboard?page=<%= parseInt(pages)%>" class="btn btn_pagination">>></a>
  <% }else if (currentPage < pages) {%> Page <%= currentPage %> of <%= pages %> :
  <a href="/dashboard?page=1" class="btn btn_pagination"> << </a>
  <a href="/dashboard?page=<%= parseInt(currentPage) - 1 %>" class="btn btn_pagination">
    <%= parseInt(currentPage) - 1%>
  </a>
  <a href="/dashboard?page=<%= parseInt(currentPage) + 1 %>" class="btn btn_pagination">
    <%= parseInt(currentPage) + 1%>
  </a>
  <a href="/dashboard?page=<%= parseInt(pages)%>" class="btn btn_pagination">
    >>
  </a>
  <% } else if (currentPage == pages && pages > 1) { %> Page <%= currentPage %> of <%= pages %> :
  <a href="/dashboard?page=1" class="btn btn_pagination"> << </a>
  <a href="/dashboard?page=<%= parseInt(currentPage) - 1 %>" class="btn btn_pagination">
    <%= parseInt(currentPage) - 1%>
  </a>
  <% } %>
</div>
